@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  font-family: 'Comic Neue Angular', sans-serif;
  background-color: #B8B8B8;
}

.content {
  margin: 0 auto;
  max-width: 1170px;
  overflow: hidden;

  background-image: url(square_noise_bg_op10_1920.png);
  background-color: #E5E5E5;
  background-size: 1170px auto;
  background-position: top center;

  font-size: 14px;

  -webkit-box-shadow: 0px 0px 40px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 40px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 40px 0px rgba(50, 50, 50, 0.75);
}


.header > .head_logo {
  background-image: url(CodingSansLogoTransparent.png);
  background-size: auto 120%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  height: 160px;
  margin: 40px 0;
}

@media screen and (min-width: 992px) {
  .header > .head_logo {
    background-size: auto 200%;
  }
}

.header .head_tech .tech {
  padding: 0;
  text-align: center;
}

.header .head_tech .tech_badge {
  padding: 0;
  margin: 0 auto;
  border-radius: 50%;

}

.header .head_tech .tech_badge .text {
  display: none;
}

.header .head_tech .tech_badge .img {
  border: 1px rgb(202, 202, 202) solid;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: auto 83%;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.header .head_tech .tech_badge .img:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

@media screen and (min-width: 768px) {
  .header .head_tech .tech_badge .img {
    width: 200px;
    height: 200px;
    background-size: auto 75%;
  }
}


.header .head_tech .tech_badge .img.cross {
  background-image: url(cross_platform_icon.png);
}

.header .head_tech .tech_badge .img.frontend {
  background-image: url(backend_icon.png);
}

.header .head_tech .tech_badge .img.backend {
  background-image: url(frontend_icon.png);
}

.header .head_touch > .head_btn {
  margin: 50px auto;
  width: 124px;
}

.header .head_touch > .head_btn > a {
  border: 1px rgb(202, 202, 202) solid;
  background-color: rgb(232, 232, 232);
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #1E88E5;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.header .head_touch > .head_btn > a:hover {
  background-color: #1E88E5;
  border: 1px #1E88E5 solid;
  text-decoration: none;
  color: rgb(232, 232, 232);
}

.wrapper {
  background-color: #1E88E5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.95) 0px -5px 20px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.95) 0px -5px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.95) 0px -5px 20px 0px;
}
.container {
  -ms-transform-origin: top left; /* IE 9 */
  -webkit-transform-origin: top left; /* Chrome, Safari, Opera */
  transform-origin: top left;
  position: relative;
  width: 1182px;
  height: 764px;
  padding: 0;
}
.hex {
  position: absolute;
  background-color: transparent;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 260px;
  -webkit-transition: all 0.5s linear; /* Safari 3.1 to 6.0 */
  transition: all 0.5s linear;
  top : 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
 	-webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
}

.hex.cs {
  z-index: 10;
}

.hex:hover .overlay {
  background-image: url(overlay_hex.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 260px;
}

.team-cont {
  background-color: #E5E5E5;
  -webkit-box-shadow: inset 0px 22px 20px -15px rgba(0,0,0,0.95);
  -moz-box-shadow: inset 0px 22px 20px -15px rgba(0,0,0,0.95);
  box-shadow: inset 0px 22px 20px -15px rgba(0,0,0,0.95);
}

.team {
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .team {
    position: relative;
    min-height: 550px;
  }
}

.team > .part {
  padding: 5px 0 20px 0;
}

@media screen and (min-width: 768px) {
  .team > .part {
    padding: 15px 0;
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translate(0, -50%); /* IE 9 */
 	  -webkit-transform: translate(0, -50%); /* Safari */
    transform: translate(0, -50%);
  }
}


.team > .part:first-child {
  padding: 40px 15px 5px 15px;
  text-align: justify;
  font-size: 18px;

  right: auto;
  left: 0;
}

@media screen and (min-width: 768px) {
  .team > .part:first-child {
    padding: 25px 10px 25px 25px;
    right: auto;
    left: 0;
  }
}

.member {
  padding: 10px 0;
}

.member .avatar > div {
  margin: 0 auto;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-image: url(lacka_hoff_256.png);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.member .avatar.mate > div {
  background-image: url(mate_wohlmuth_circle_256.png);
}

.member .avatar.totty > div {
  background-image: url(totty_circle_256.png);
}

.member .avatar.lacka > div {
  background-image: url(lacka_circle_256.png);
}

.member .avatar.zoli > div {
  background-image: url(tz_image_256.png);
}

.member .text {
  padding: 0;
  padding-left: 3px;
}

.member .text > div {
  height: 45px;
  line-height: 25px;
  font-size: 15px;
  vertical-align: top;
  font-weight: normal;
}

.member .text > div:first-child {
  line-height: 70px;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}


.contact_form_cont {
  background-color: #E7E7E7;
}

.contact_form {
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
}

.contact_form > form > .form-group {
  padding: 5px;
}

.form_title {
  font-size: 24px;
}

.footer {
  background-color: #E5E5E5;
  text-align: center;
  padding: 20px 0;
}

/**/
.contact_us {
  background-color: #1E88E5;
  padding: 80px 0;
}

.contact_us > div {
  text-align: center;
  padding: 10px 0;
}

.contact_us > .title {
  font-size: 32px;
}

.contact_us > .mail > div {
  font-size: 28px;
  color: white;
}
