/*
Syntax error: Invalid CSS after "}": expected selector or at-rule, was "}"
        on line 188 of /home/lacka/codingsans.github.io/src/stylesheets/index.css.scss

183:   position: absolute;
184:   top: 50%;
185:   right: 0;
186:   transform: translateY(-50%);
187: }
188: }
189: 
190: .team > .part:first-child {
191:   padding: 15px 25px;
192:   text-align: justify;
193:   font-size: 20px;

Backtrace:
/home/lacka/codingsans.github.io/src/stylesheets/index.css.scss:188
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:1085:in `expected'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:28:in `parse'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/home/lacka/.rvm/gems/ruby-2.2.0/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/home/lacka/.rvm/gems/ruby-2.2.0/bin/scss:23:in `load'
/home/lacka/.rvm/gems/ruby-2.2.0/bin/scss:23:in `<main>'
/home/lacka/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/home/lacka/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected selector or at-rule, was \"}\"\A         on line 188 of /home/lacka/codingsans.github.io/src/stylesheets/index.css.scss\A \A 183:   position: absolute;\A 184:   top: 50%;\A 185:   right: 0;\A 186:   transform: translateY(-50%);\A 187: }\A 188: }\A 189: \A 190: .team > .part:first-child {\A 191:   padding: 15px 25px;\A 192:   text-align: justify;\A 193:   font-size: 20px;"; }
